
body {
    background-color: green;
    background-size: 100% 200%;
    font-family: 'Roboto Mono', monospace;
}

  .column {
    float: left;
    width: 50%;
  }
}

}
#title {
  text-align: center;
  font-weight: 900;
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 15px;


}

.delay {

  animation-delay: 10s;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
p {
  margin-top: 15px;
  font-size: 45px;
  margin-bottom: 20px;

}

x {
  font-size: 30px;

}

#map{
  height: 350px;
  width: WIDTH;
}
.delay {
  animation-delay: 10s;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

h2 {
  text-align: center;
  font-size: 65px;
  margin-top: 0px;
  margin-bottom: 15px;
}
#description {
  font-size: 40px;
  margin-top: 20px;
}
