<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


=======
>>>>>>> e664117c4d4bbffdedcfd38d4723261c9ee04f46
body {
    background-size: 100% 200%;
    font-family: 'Roboto Mono', monospace;
}

  .column {
    float: left;
    width: 50%;
  }
}

}
#title {
  text-align: center;
  font-weight: 900;
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 15px;


}
p {
  margin-top: 15px;
  font-size: 40px;

}

x {
  font-size: 30px;

}

#map{
  height: 350px;
  width: WIDTH;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

h2 {
  text-align: center;
  font-size: 65px;
  margin-top: 0px;
  margin-bottom: 15px;
}
